body {
  font-family: Mulish, sans-serif;
  padding: 5%;
  font-size: 18px 50px;
}

h1 {
  font-size: 40px;
  font-weight: 500px;
}

a {
  font-size: 22px;
}

button {
  height: 50px;
  width: 125px;
  color: white;
  background-color: #4A4FF2;
  border: none;
}

button:hover {
  background-color: #100d42;
}

.input-field:hover {
  background-color: rgb(209, 213, 255);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

footer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.links, a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.links {
  margin-left: auto;
}

.topcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.rightalign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -ms-grid-column-align: end;
      justify-self: end;
}

cant seem to make the map .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-top: 50px;
  width: auto;
  max-width: 350px;
  height: auto;
  margin-bottom: 50px;
}

form {
  font-family: Mulish, sans-serif;
  font-size: 18px;
  min-width: 600px;
  width: auto;
}

input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #000000;
  margin-top: 50px;
  padding-top: 20px;
}